
body {
    background-image: url('../img/pc-gaming-green-lights-bb587p382axi35vy.jpg');
}

.botonComenzar {
    background-color: rgb(147, 81, 209);
    color: white;
    height: 50px;
}

.botonEnviar {
    background-color: green;
    color: white;
    height: 38px;
}

@media (min-width: 767px) {
    .botonComenzar {
        height: 50px;
    }

    .botonEnviar {
        height: 40px;
    }
}
